<tr>
  <td></td>
  <td><%= "#{estado.id}. #{estado.nombre}" %></td>
  <td>
    <input id="<%= "resultado#{estado.id}" %>" type="radio" value="Ap" name="<%= "estados[#{estado.id}[resultado]]" %>" data-remote="<%= estado.id %>" class="r_normal" />
    <input type='hidden' name="estados[<%= estado.id %>][evaluacion]" value="" id="estado-<%= estado.id %>" />
  </td>
  <td><input id="<%= "resultado#{estado.id}" %>" type="radio" value="Rp" name="<%= "estados[#{estado.id}[resultado]]" %>" data-remote="<%= estado.id %>" class="radio" /></td>
  <td><input id="<%= "resultado#{estado.id}" %>" type="radio" value="N/A" name="<%= "estados[#{estado.id}[resultado]]" %>" data-remote="<%= estado.id %>" class="r_normal" /></td>
</tr>