<%= link_to 'Regresar a la Hoja de vida', hoja_vida_path(params[:equipo_id]) %>
<div class="block">
  <div class="secondary-navigation">
  </div>
  <div class="content">
    <h2 class="title">INGRESAR REPORTE</h2>
    <p>Reporte elaborado para el equipo de marca <strong><%= @equipo.marca %></strong>, modelo <strong><%= @equipo.modelo %></strong> y serial <strong><%= @equipo.serial %></strong></p>
    <div class="inner">
      <%= form_for :reporte, @reporte, create_reporte_url(params[:equipo_id],params[:id]) do |f| %>
        <div class="forms">
          <input type="hidden" id="reporte-id" value="<%= @reporte.id %>" />
          <div class="group wat-cf">
            <div class="left">
              <label class="label">Tipo de Mantenimiento</label>
            </div>
            <%= f.select 'tipo_mantenimiento_id', options_for_select(@mantenimientos.collect{|mantenimiento| [mantenimiento.nombre, mantenimiento.id]}), :html => {:class => 'tipo-mantenimiento'} %>
            <div id="otro-mantenimiento" style="display:none;">
              <label>Cual </label>
              <%= text_field_tag(:otro_mantenimiento) %>
            </div>
          </div>
          <div class="estados">
            <input type="hidden" id="div-evaluacion" value="<%= render :partial => 'reportes/add_description' %>" />
            <table class="table">
              <tr>
                <th class="first"></th>
                <th>PRUEBA CUALITATIVA</th>
                <th>Ap.</th>
                <th>Rp.</th>
                <th class="last">N/A</th>
              </tr>
              <% @estados.each do |estado| %>
                <%= render :partial => 'reportes/add_estados', :locals => {:estado => estado} %>
              <% end %>
            </table>
          </div>
          <div id="evaluacion-estados" style="display:none;">
          </div>
          <div class="evaluacion">
            <div class="rp_evaluacion" style="display: none">
              <h4>Evaluación y diagnóstico si la prueba cualitativa fue reprobada</h4>
              <%= text_area_tag(:extra_eval, nil, :disabled => 'disabled', :size => "80x5") %>
            </div>
            <label class="label">Ingrese la evaluación y el diagnóstico general</label>
            <div class="extra">
              <p>
                <%= text_area_tag(:eval, nil, :class =>  "text_area") %>
              </p>
            </div>
          </div>
          <div class="descripcion">
            <label class="label">Ingrese la descripción del servicio</label>
            <p>
              <%= text_area_tag(:descripcion, nil, :class =>  "text_area") %>
            </p>
          </div>
          <div class="repuestos">
            <input type="hidden" id="div-repuestos" value="<%= render :partial => 'reportes/add_repuestos' %>" />
            <label class="label">MATERIALES, REPUESTOS E INSUMOS</label>
            <a class="add_repuesto">Adicionar</a>
            <table class="table" id="tabla-repuestos">
              <tr>
                <th class="first"></th>
                <th>REFERENCIA.</th>
                <th>CANTIDAD</th>
                <th class="last">DESCRIPCIÓN</th>
              </tr>
            </table>
          </div>
          <div id="lista-repuestos"></div>
          <br />
          <div class="responsable">
            <label class="label">Prestador del mantenimiento</label>
            <div class="group wat-cf">
              <div class="left">
                <label class="label">Nombre</label>
              </div>
              <div>
                <%= text_field_tag(:nombre) %>
              </div>
            </div>
            <div class="group wat-cf">
              <div class="left">
                <label class="label">Cargo</label>
              </div>
              <div>
                <%= text_field_tag(:cargo) %>
              </div>
            </div>
            <div class="group wat-cf">
              <div class="left">
                <label class="label">Documento</label>
              </div>
              <div>
                <%= text_field_tag(:documento) %>
              </div>
            </div>
            <div class="group wat-cf">
              <div class="left">
                <label class="label">Empresa</label>
              </div>
              <div>
                <%= text_field_tag(:empresa) %>
              </div>
            </div>
          </div>
          <div class="recibido">
            <label class="label">Recibido por:</label>
            <div class="group wat-cf">
              <div class="left">
                <label class="label">Documento: </label>
              </div>
              <div>
                <input type="text" id='buscar-documento' name="buscar_documento" />
                <input type="button" id="buscar-cc" name="Buscar" value="Buscar"></input>
              </div>
            </div>
            <div id="info-recibe" style="display: none">
              <div class="group wat-cf">
                <div class="left">
                  <label class="label">Nombre</label>
                </div>
                <div>
                  <%= text_field_tag(:recibe_nombre, nil, :disabled => "disabled") %>
                </div>
              </div>
              <div class="group wat-cf">
                <div class="left">
                  <label class="label">Cargo</label>
                </div>
                <div>
                  <%= text_field_tag(:recibe_cargo, nil, :disabled => "disabled") %>
                </div>
              </div>
            </div>
            <br />
            <div class="group navform wat-cf">
              <button class="button" type="submit">
                <%= image_tag("web-app-theme/icons/tick.png") %> <%= "Guardar Reporte" %>
              </button>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>