<% form_for @reporte, :url => reportes_create_url do |f| %>
  <p>
    <label><%= params {:id} %></label>
  </p>
  <p>
    <label>Fecha de ingreso</label>
    <%= text_field_tag 'f_ingreso', nil, :class => 'datepicker' %>
  </p>
  <p>
    <label>Fecha de salida</label>
    <%= text_field_tag 'f_salida', nil, :class => 'datepicker' %>
  </p>
  <p>
    <label>Tipo de Mantenimiento</label>
    <%= f.select 'tipo_mantenimiento_id', options_for_select(@mantenimientos.collect{|mantenimiento| [mantenimiento.nombre, mantenimiento.id]}), :html => {:class => 'tipo-mantenimiento'} %>
      <div id="otro-mantenimiento" style="display:none;">
        <label>Cual </label>
        <%= text_field_tag(:otro_mantenimiento) %>
      </div>
  </p>
  <div class="estados">
    <table border="1">
      <tr>
        <td>PRUEBA CUALITATIVA</td>
        <td>Ap.</td>
        <td>Rp.</td>
        <td>N/A</td>
      </tr>
      <% @estados.each do |estado| %>
        <%= render :partial => 'reportes/add_estados', :locals => {:estado => estado} %>
      <% end %>
    </table>
    <div id="add_evaluacion" style="display: none;">
      <p>
        <label>Ingrese una descripción: </label>
        <%= text_field_tag(:add_eval, "", :class => "add_eval") %>
      </p>
      <%= submit_tag "Guardar descripción", :class => "to_eval" %>
    </div>
  </div>
  <div class="evaluacion">
    <span>Ingrese la evaluación y el diagnóstico</span>
    <div class="rp_evaluacion" style="display: none">

    </div>
    <div class="extra">
      <p>
        <%= text_area_tag(:extra_eval, nil, :size => "80x5") %>
      </p>
    </div>
  </div>
  <div class="descripcion">
    <span>Ingrese la descripción del servicio</span>
    <p>
      <%= text_area_tag(:extra_eval, nil, :size => "80x5") %>
    </p>
  </div>
  <div class="repuestos">
    <p>MATERIALES, REPUESTOS E INSUMOS</p>
    <input type="button" class="add_repuesto" name="Adicionar" value="Adicionar"></input>
    <table border="1">
      <tr>
        <td>REF.</td>
        <td>CANT.</td>
        <td>DESCRIPCIÓN</td>
      </tr>
      <tr class="hide_repuesto" style="display: none">
        <td><%= select_tag 'repuesto_equipos_id', options_for_select(@repuestos.collect{|repuesto| [repuesto.referencia, repuesto.id]}), :html => {:class => 'repuesto'} %></td>
        <td><%= text_field_tag(:cant, "", :class => "cantidad") %></td>
        <td><%= text_field_tag(:descripcion, "", :class => "descripcion") %></td>
      </tr>
    </table>
  </div>
<% end %>