<%= link_to 'Regresar a la Hoja de vida', hoja_vida_path(params[:equipo_id]), :class => "sexybutton sexysimple sexyblue" %>
<br /><br />
<div class="block">
  <div class="secondary-navigation">
  </div>
  <div class="content">
    <h2 class="title">INGRESAR REPORTE</h2>
    <h3 style="padding-left: 20px">Reporte elaborado para el equipo <strong><%= @equipo.nombre %></strong> de marca <strong><%= @equipo.marca %></strong>, modelo <strong><%= @equipo.modelo %></strong> y serial <strong><%= @equipo.serial %></strong></h3>
    <div class="inner form">
      <%= form_for :reporte, @reporte, create_reporte_url(params[:equipo_id],params[:id]), :html => { :class => 'form to-validate'} do |f| %>
        <div class="forms">
          <input type="hidden" id="reporte-id" value="<%= @reporte.id %>" />
          <div class="finalizacion">
	        <fieldset>
		      <legend>INGRESO DE LA FECHA DE FINALIZACIÓN DEL MANTENIMIENTO</legend>
              <div class="extra"><%= text_field_tag 'fecha_finalizacion', nil, :class => 'datepicker required' %></div>
		    </fieldset>	        
	      </div>
          <div class="estados">
	        <fieldset>
		      <legend>INGRESO DE ESTADOS</legend>
              <input type="hidden" id="div-evaluacion" value="<%= render :partial => 'reportes/add_description' %>" />
              <table class="table">
                <tr>
                  <th class="first"></th>
                  <th>PRUEBA CUALITATIVA</th>
                  <th>Ap.</th>
                  <th>Rp.</th>
                  <th>N/A</th>
		          <th></th>
                  <th>PRUEBA CUALITATIVA</th>
                  <th>Ap.</th>
                  <th>Rp.</th>
                  <th class="last">N/A</th>
                </tr>
                <% @estados.in_groups_of(2).each do |group| %>
	            <tr>
	     	      <% group.each do |estado| %>
		            <%= render :partial => 'reportes/add_estados', :locals => {:estado => estado} if estado %>
	    	      <% end %>
                <% end %>
	           </tr>
              </table>
            </fieldset>
          </div>
          <div id="evaluacion-estados" style="display:none;">
          </div>
	      <div class="rp_evaluacion" style="display: none">
		    <fieldset>
	          <legend>Evaluación y diagnóstico si la prueba cualitativa fue reprobada</legend>
	            <%= text_area_tag(:extra_eval, nil, :disabled => 'disabled', :size => "80x5") %>
			</fieldset>
	      </div>
          <div class="evaluacion">
	        <fieldset>
		      <legend>INGRESO DE EVALUACIÓN Y DIAGNÓSTICO</legend>
              <div class="extra"><%= text_area_tag(:eval, nil, :class =>  "text_area") %></div>
		    </fieldset>
          </div>
          <div class="descripcion">
	        <fieldset>
		      <legend>INGRESO DE LA DESCRIPCIÓN DEL SERVICIO</legend>
              <div class="extra"><%= text_area_tag(:descripcion, nil, :class =>  "text_area") %></div>
		    </fieldset>
          </div>
          <div class="repuestos">
	        <fieldset>
		      <legend>INGRESO DE MATERIALES, REPUESTOS E INSUMOS</legend>
              <input type="hidden" id="div-repuestos" value="<%= render :partial => 'reportes/add_repuestos' %>" />
              <a class="add_repuesto sexybutton sexysimple sexyblue">Adicionar</a>
              <table class="table" id="tabla-repuestos">
                <tr>
                  <th class="first"></th>
                  <th>REFERENCIA.</th>
                  <th>CANTIDAD</th>
                  <th class="last">DESCRIPCIÓN</th>
                </tr>
              </table>
            </fieldset>
          </div>
          <br style="clear:both;">
          <div id="lista-repuestos"></div>
          <br />
	</div>
	<button class="button" type="submit">
          <%= image_tag("web-app-theme/icons/tick.png", :alt => "Guardar") %>
          Guardar
        </button>
        <br /><br />
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>