<%= form_for @reporte, create_reporte_url do |f| %>
  <input type="hidden" id="reporte-id" value="<%= @reporte.id %>" />
  <p>
    <label>Fecha de ingreso</label>
    <%= text_field_tag 'f_ingreso', nil, :class => 'datepicker' %>
  </p>
  <p>
    <label>Fecha de salida</label>
    <%= text_field_tag 'f_salida', nil, :class => 'datepicker' %>
  </p>
  <p>
    <label>Tipo de Mantenimiento</label>
    <%= f.select 'tipo_mantenimiento_id', options_for_select(@mantenimientos.collect{|mantenimiento| [mantenimiento.nombre, mantenimiento.id]}), :html => {:class => 'tipo-mantenimiento'} %>
      <div id="otro-mantenimiento" style="display:none;">
        <label>Cual </label>
        <%= text_field_tag(:otro_mantenimiento) %>
      </div>
  </p>



  <div class="estados">
    <input type="hidden" id="div-evaluacion" value="<%= render :partial => 'reportes/add_description' %>" />
    <table border="1">
      <tr>
        <td>PRUEBA CUALITATIVA</td>
        <td>Ap.</td>
        <td>Rp.</td>
        <td>N/A</td>
      </tr>
      <% @estados.each do |estado| %>
        <%= render :partial => 'reportes/add_estados', :locals => {:estado => estado} %>
      <% end %>
    </table>
  </div>
	<div id="evaluacion-estados" style="display:none;">
	</div>

  <div class="evaluacion">
    <span>Ingrese la evaluación y el diagnóstico</span>
    <div class="rp_evaluacion" style="display: none">
      <%= text_area_tag(:extra_eval, nil, :disabled => 'disabled', :size => "80x5") %>
    </div>
    <div class="extra">
      <p>
        <%= text_area_tag(:eval, nil, :size => "80x5") %>
      </p>
    </div>
  </div>
  <div class="descripcion">
    <span>Ingrese la descripción del servicio</span>
    <p>
      <%= text_area_tag(:descripcion, nil, :size => "80x5") %>
    </p>
  </div>

  <div class="repuestos">
    <p>MATERIALES, REPUESTOS E INSUMOS</p>
    <input type="button" class="add_repuesto" name="Adicionar" value="Adicionar"></input>
    <table border="1">
      <tr>
        <td>REF.</td>
        <td>CANT.</td>
        <td>DESCRIPCIÓN</td>
      </tr>
      <tr class="hide_repuesto" style="display: none">
        <td><%= select_tag 'repuesto_equipos_id', options_for_select(@repuestos.collect{|repuesto| [repuesto.referencia, repuesto.id]}), :html => {:class => 'repuesto'} %></td>
        <td><%= text_field_tag(:cant, "", :class => "cantidad") %></td>
        <td><%= text_field_tag(:descripcion, "", :class => "descripcion") %></td>
      </tr>
    </table>
  </div>
  <div class="responsable">
    <p>Prestador del mantenimiento</p>
    <p><span>Nombre: </span><%= text_field_tag(:nombre) %></p>
    <p><span>Cargo: </span><%= text_field_tag(:cargo) %></p>
    <p><span>Documento: </span><%= text_field_tag(:documento) %></p>
  </div>
  <div class="recibido">
    <p>Prestador del mantenimiento</p>
    <p>
      <span>Documento: </span>
			<input type="text" id='buscar-documento' />	
      <input type="button" id="buscar-cc" name="Buscar" value="Buscar"></input>
    </p>
    <div id="info-recibe" style="display: none">
      <p><span>Nombre: </span><%= text_field_tag(:recibe_nombre, nil, :disabled => "disabled") %></p>
      <p><span>Cargo: </span><%= text_field_tag(:recibe_cargo, nil, :disabled => "disabled") %></p>
    </div>
  </div>
<% end %>