<%= link_to 'Regresar a la Hoja de vida', hoja_vida_path(params[:equipo_id]) %>
<br /><br />
<div class="block reporte">
  <div class="secondary-navigation">
  </div>
  <div class="content">
    <h2 class="title">Reporte No. <%= @reporte.id %></h2>
    <div class="inner form reporte">
      <div class="tiempo">
        <h4>TIEMPO EMPLEADO EN EL MANTENIMIENTO</h4>
        <table class="table">
          <tr>
            <th class="first"  ></th>
            <th>Fecha inicio</th>
            <th>Fecha finalización</th>
            <th>Duración</th>
            <th class="last">Duración</th>
          </tr>
          <tr>
            <td></td>
            <td><%= @reporte.fecha_inicio %></td>
            <td><%= @reporte.fecha_fin %></td>
            <td><%= (@reporte.fecha_fin - @reporte.fecha_inicio).to_s %><span> días</span></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="mantenimiento">
        <h4>TIPO DE MANTENIMIENTO</h4>
        <table class="table">
          <tr>
            <th class="first"></th>
            <th>Preventivo</th>
            <th>Correctivo</th>
            <th>Predictivo</th>
            <th class="last">Otro</th>
          </tr>
          <tr>
            <td></td>
            <td><% if @reporte.tipo_mantenimiento.id == 1 then %> SI <% else %> NO <% end %></td>
            <td><% if @reporte.tipo_mantenimiento.id == 2 then %> SI <% else %> NO <% end %></td>
            <td><% if @reporte.tipo_mantenimiento.id == 3 then %> SI <% else %> NO <% end %></td>
            <td><% if @reporte.tipo_mantenimiento.id > 3 then %> <%= @reporte.tipo_mantenimiento.nombre %> <% else %> NO <% end %></td>
          </tr>
        </table>
      </div>
      <div class="estados">
        <h4>ESTADOS DEL EQUIPO</h4>
        <table class="table">
          <tr>
            <th class="first"></th>
            <th>Prueba cualitativa</th>
            <th>Resultado</th>
            <th class="last">Evaluación</th>
          </tr>
          <% @reporte.estado_equipos.each do |estado_equipo| %>
            <%= render :partial => 'reportes/estados', :locals => {:estado_equipo => estado_equipo} %>
          <% end %>
        </table>
      </div>
      <div class="evaluacion">
        <h4>EVALUACIÓN Y DIAGNÓSTICO</h4>
        <table class="table">
          <% @reporte.estado_equipos.each do |estado_equipo| %>
            <%= render :partial => 'reportes/diagnostico', :locals => {:estado_equipo => estado_equipo} %>
          <% end %>
        </table>
      </div>
      <div class="descripcion">
        <h4>DESCRIPCIÓN DEL SERVICIO</h4>
        <table class="table">
          <tr>
            <td><%= @reporte.descripcion_servicio %></td>
          </tr>
        </table>
      </div>
      <div class="repuestos">
        <h4>MATERIALES, REPUESTOS E INSUMOS UTILIZADOS</h4>
        <table class="table">
          <tr>
            <th class="first"></th>
            <th>Referencia</th>
            <th>Cantidad</th>
            <th class="last">Descripción</th>
          </tr>
          <% @reporte.repuesto_equipos.each do |repuesto_equipo| %>
            <%= render :partial => 'reportes/repuestos', :locals => {:repuesto_equipo => repuesto_equipo} %>
          <% end %>
        </table>
      </div>
      <div class="prestador">
        <h4>PRESTADOR DEL MANTENIMIENTO</h4>
        <table class="table">
          <tr>
            <th class="first"></th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th class="last">Documento</th>
          </tr>
          <tr>
            <td></td>
            <td><%= @reporte.prestador_mantenimiento.responsable.nombre %></td>
            <td><%= @reporte.prestador_mantenimiento.cargo %></td>
            <td><%= @reporte.prestador_mantenimiento.documento %></td>
          </tr>
        </table>
      </div>
      <div class="responsable">
        <h4>RECIBIDO POR</h4>
        <table class="table">
          <tr>
            <th class="first"></th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th class="last">Documento</th>
          </tr>
          <tr>
            <td></td>
            <td><%= @reporte.responsable.nombre %></td>
            <td><%= @reporte.responsable.cargo %></td>
            <td><%= @reporte.responsable.documento %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>