<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "Lista")}", tipo_adquisicions_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Nuevo")}", new_tipo_adquisicion_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Tipos de Adquisici&oacute;n</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first"></th>
          <th>
            <%= t("activerecord.attributes.tipo_adquisicion.nombre", :default => t("activerecord.labels.nombre", :default => "Nombre")) %>
          </th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @tipo_adquisicions.each do |tipo_adquisicion| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td></td>
          <td>
            <%= link_to tipo_adquisicion.nombre, tipo_adquisicion_path(tipo_adquisicion) %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.edit", :default => "Editar")}", edit_tipo_adquisicion_path(tipo_adquisicion) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Eliminar")}", tipo_adquisicion_path(tipo_adquisicion), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Esta seguro?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>
