<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "Lista")}", tipo_insumos_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Nuevo")}", new_tipo_insumo_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Ver")}", tipo_insumo_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.tipo_insumo.nombre", :default => t("activerecord.labels.nombre", :default => "Nombre")) %>:</b>
          <%= @tipo_insumo.nombre %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tipo_insumo.fabricante_insumo_id", :default => t("activerecord.labels.fabricante_insumo_id", :default => "Fabricante del insumo")) %>:</b>
          <%= @tipo_insumo.fabricante_insumo_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tipo_insumo.presentacion", :default => t("activerecord.labels.presentacion", :default => "Presentacion")) %>:</b>
          <%= @tipo_insumo.presentacion %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tipo_insumo.proveedor_id", :default => t("activerecord.labels.proveedor_id", :default => "Proveedor")) %>:</b>
          <%= @tipo_insumo.proveedor_id %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Editar")}") + " " + t("web-app-theme.edit", :default=> "Editar"), edit_tipo_insumo_path(@tipo_insumo), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Eliminar")}") + " " + t("web-app-theme.delete", :default => "Eliminar"), tipo_insumo_path(@tipo_insumo), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>