<table>
<%- @agendas.each do |agenda| %>
  <tr>
    <td><%= agenda.fecha_programacion.to_s%></td>
    <td><%= agenda.tipo_mantenimiento.nombre %></td>
    <td>
    <% if agenda.reporte_mantenimiento == nil then %>
      <%= link_to 'Crear reporte', new_reporte_path(agenda.equipo_id, agenda.id) %>
    <% else %>
      <%= link_to 'Ver reporte', reporte_path(agenda.equipo_id, agenda.id, agenda.reporte_mantenimiento.id) %>
    <% end %></td>
  </tr>
<% end %>
</table>
<%= link_to "Nuevo", new_agenda_path, :rel => "facebox" %>
<div id="calendar">
  <%= GoogleCalendarAdapter.iframe.html_safe %>
</div>