<tr>
  <td><%= equipo.modelo %></td>
  <td><%= equipo.marca %></td>
  <td><%= equipo.serial %></td>
  <td><%= equipo.placa %></td>
	<td>
		<a href="<%= equipo_path(equipo) %>" class='sexybutton sexysimple sexyblue sexysmall'>Detalles</a>
	</td>
	<td>
		<a href="<%= edit_equipo_path(equipo) %>" class='sexybutton sexysimple sexyblue sexysmall'>Editar</a>
	</td>
	<td>
		<%= link_to 'Eliminar', equipo_path(equipo), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Esta seguro ?")}", :class => 'sexybutton sexysimple sexyblue sexysmall' %>
	</td>
	<td>
		<a href="#" data-remote='<%= cambiar_area_equipo_path(equipo) %>' class='cambiar-area sexybutton sexysimple sexyblue sexysmall'>Cambiar &Aacute;rea</a>
	</td>
	<td>
		<a href="#" data-remote='<%= dar_salida_equipo_path(equipo) %>' class='dar-salida sexybutton sexysimple sexyblue sexysmall'>Dar Salida</a>
	</td>
</tr>