<% form_for 'busqueda', :url => {:controller => :equipos, :action => :search} do |f| %>
<div class="forms">
  <p>
    <label>Area</label>
    <%= f.select 'area_id', options_for_select(@areas.collect{|area| [area.nombre, area.id]}) %>
  </p>
  <p>
    <label>Tipo</label>
    <%= f.select 'tipo_equipo_id', options_for_select(@tipos.collect{|tipo| [tipo.nombre, tipo.id]}) %>
  </p>
  <p>
    <label>Subtipo</label>
    <%= f.select 'subtipo_equipo_id', options_for_select(@subtipos.collect{|subtipo| [subtipo.nombre, subtipo.id]}) %>
  </p>
  <p>
    <label>Tipo de Adquisición</label>
    <%= f.select 'tipo_adquisicion_id', options_for_select(@adquisiciones.collect{|adquisicion| [adquisicion.nombre, adquisicion.id]}), :html => {:class => 'tipo-adquisicion'} %>
		<div id="otro-adquisicion" style="display:none;">
			<label>Cual </label>
			<%= text_field_tag 'otro_tipo_adquisicion' %>
		</div>
  </p>
  <p>
    <label>Responsable</label>
    <%= f.select 'persona_id', options_for_select(@responsables.collect{|responsable| [responsable.nombre, responsable.id]}) %>
  </p>
  <p>
    <label>Modelo</label>
    <input id="modelo" class="autocomplete" type="text" name="modelo" data-remote="modelo">
  </p>
  <p>
    <label>Marca</label>
    <input id="marca" class="autocomplete" type="text" name="marca">
  </p>
  <p>
    <label>Serial</label>
    <input id="serial" class="autocomplete" type="text" name="serial">
  </p>
  <p>
    <label>Placa</label>
    <input id="placa" class="autocomplete" type="text" name="placa">
  </p>
  <p>
    <label>Entre valores: </label>
    <label>Mínimo</label>
    <input type="text" name="valor_min">
    <label>Máximo</label>
    <input type="text" name="valor_max">
  </p>
</div>
<% end %>
<div class="inventario">
<br />
<br />
  <table border="1">
    <thead>
      <tr>
	<td>Tipo</td>
	<td>Subtipo</td>
	<td>Modelo</td>
	<td>Marca</td>
	<td># de Serial</td>
	<td># de Inventario ó Placa</td>
	<td>Tipo de Tenencia ó Adquisición</td>
	<td>Valor</td>
	<td>Responsable</td>
	<td>Hoja de Vida</td>
        <td>Agenda</td>
      </tr>
    </thead>
    <tbody>
      <% @equipos.each do |equipo| %>
        <%= render :partial => 'equipos/equipo_fila', :locals => {:equipo => equipo} %>
      <% end %>
    </tbody>
  </table>
</div>