<% form_for @busqueda, :url => equipos_search_url do |f| %>
<div class="forms">
  <p>
    <label>Area</label>
    <%= f.select 'area_id', options_for_select(@areas.collect{|area| [area.nombre, area.id]}), {:include_blank => 'Seleccionar'} %>
  </p>
  <p>
    <label>Tipo</label>
    <%= f.select 'tipo_equipo_id', options_for_select(@tipos.collect{|tipo| [tipo.nombre, tipo.id]}), {:include_blank => 'Seleccionar'} %>
  </p>
  <p>
    <label>Subtipo</label>
    <%= f.select 'subtipo_equipo_id', options_for_select(@subtipos.collect{|subtipo| [subtipo.nombre, subtipo.id]}), {:include_blank => 'Seleccionar'} %>
  </p>
  <p>
    <label>Tipo de Adquisición</label>
    <%= f.select 'tipo_adquisicion_id', options_for_select(@adquisiciones.collect{|adquisicion| [adquisicion.nombre, adquisicion.id]}), :html => {:class => 'tipo-adquisicion'} %>
		<div id="otro-adquisicion" style="display:none;">
			<label>Cual </label>
			<%= text_field_tag(:otro_adquisicion) %>
		</div>
  </p>
  <p>
    <label>Responsable</label>
    <%= f.select 'responsable_id', options_for_select(@responsables.collect{|responsable| [responsable.nombre, responsable.id]}), {:include_blank => 'Seleccionar'} %>
  </p>
  <p>
    <label>Modelo</label>
    <%= f.text_field(:modelo, :class => 'autocomplete', 'data-remote' => 'modelo') %>
  </p>
  <p>
    <label>Marca</label>
    <%= f.text_field(:marca, :class => 'autocomplete', 'data-remote' => 'marca') %>
  </p>
  <p>
    <label>Serial</label>
    <%= f.text_field(:serial, :class => 'autocomplete', 'data-remote' => 'serial') %>
  </p>
  <p>
    <label>Placa</label>
    <%= f.text_field(:placa, :class => 'autocomplete', 'data-remote' => 'placa') %>
  </p>
  <p>
    <label>Entre valores: </label>
    <label>Mínimo</label>
    <%= text_field_tag(:valor_min) %>
    <label>Máximo</label>
    <%= text_field_tag(:valor_max) %>
  </p>
  <p>
    <%= submit_tag 'Buscar' %>
  </p>
</div>
<% end %>
<div class="inventario">
<br />
<br />
  <table border="1">
    <thead>
      <tr>
	<td>Tipo</td>
	<td>Subtipo</td>
	<td>Modelo</td>
	<td>Marca</td>
	<td># de Serial</td>
	<td># de Inventario ó Placa</td>
	<td>Tipo de Tenencia ó Adquisición</td>
	<td>Valor</td>
	<td>Responsable</td>
	<td>Hoja de Vida</td>
        <td>Agenda</td>
      </tr>
    </thead>
    <tbody>
      <% @equipos.each do |equipo| %>
        <%= render :partial => 'equipos/equipo_fila', :locals => {:equipo => equipo} %>
      <% end %>
    </tbody>
  </table>
</div>