<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Listado de Equipos", list_equipos_path %></li>
      <li><%= link_to "Nuevo", new_equipo_path %></li>
    </ul>
  </div>
  <div class="content">
      <h2 class="title">Listado de Equipos</h2>
    <div class="inner">
 			<table class="table">
				<thead>
	  			<tr>
      			<th class="first">Modelo</th>
	    			<th>Marca</th>
	    			<th>Serial</th>
	    			<th>Placa</th>
      			<th class="last" colspan="5">Opciones</th>
	  			</tr>
				</thead>
				<tbody>
	  			<%- @equipos.each do |equipo| %>
	    			<%= render :partial => 'equipos/equipo', :locals => {:equipo => equipo} %>
	  			<% end %>
				</tbody>
      </table>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>
<div id="dar-salida" style="display: none;">
  <%= form_for :equipo, :url => '#', :html => {:id => 'dar-salida-form'} do |f| %>
    <%= label_tag :destino, 'Laboratorio de destino' %>
    <%= text_field_tag :destino %>
    <%= submit_tag 'Dar Salida' %>
  <% end %>
</div>
<div id="cambiar-area" style="display: none;">
  <%= form_for :equipo, :url => '#', :html => {:id => 'cambiar-area-form'} do |f| %>
    <%= label_tag :destino, 'Seleccione el destino' %>
    <%= select_tag :destino, options_for_select(Area.all.collect{|area| [area.nombre, area.id]}) %>
    <%= submit_tag 'Cambiar' %>
  <% end %>
</div>