<table>
	<tr>
		<td>C&oacute;digo</td>
		<td>Producto</td>
		<td>Prueba(s)</td>
		<td>Alerta por cantidad</td>
		<td>Duraci&oacute;n proyectada</td>
		<td>Alerta por vencimiento</td>
		<td>Proveedor</td>
		<td></td>
	</tr>
	<%- @insumos.each do |insumo| %>
		<tr>
			<td><%= insumo.id %></td>
			<td><%= insumo.nombre %></td>
			<td><%= insumo.tipos_insumo_pruebas.first.prueba.name %></td>
			<td class="alert-<%= insumo.alerta_cantidad.alert_level(insumo) %>"><%= MovimientoInsumo.total_transactions(insumo) %></td>
			<td>Duración proyectada</td>
			<td class="alert-<%= insumo.alerta_vencimiento.alert_level(insumo) %>"><%= Insumo.days_remaining_closest_date(insumo) %></td>
			<td><%= insumo.proveedor_insumo.nombre if insumo.proveedor_insumo %></td>
			<td></td>
		</tr>
	<% end %>
</table>