<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "Lista")}", pruebas_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Nuevo")}", new_prueba_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.edit", :default => "Editar")}", edit_prueba_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Editar Prueba</h2>
    <div class="inner">
      <%= form_for @prueba, :url => prueba_path(@prueba), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>