<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Lista", tipo_mantenimientos_path  %></li>
      <li><%= link_to "Nuevo", new_tipo_mantenimiento_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Tipos de Mantenimiento</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">&nbsp;</th>
          <th>Nombre</th>
          <th>Color</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @tipo_mantenimientos.each do |tipo_mantenimiento| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td></td>
          <td>
            <%= link_to tipo_mantenimiento.nombre, tipo_mantenimiento_path(tipo_mantenimiento) %>
          </td>
          <td>
            <%= tipo_mantenimiento.color %>
          </td>
          <td class="last">
            <%= link_to "Editar", edit_tipo_mantenimiento_path(tipo_mantenimiento) %> |
            <%= link_to "Eliminar", tipo_mantenimiento_path(tipo_mantenimiento), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Esta seguro ?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>
