  <div class="group">
    <%= f.label :nombre, t("activerecord.attributes.proveedor_insumo.nombre", :default => "Nombre"), :class => :label %>
    <%= f.text_field :nombre, :class => 'text_field' %>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Guardar")}") %> <%= t("web-app-theme.save", :default => "Guardar") %>
  </button>  
  <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancelar")}") + " " + t("web-app-theme.cancel", :default => "Cancelar"), proveedor_insumos_path, :class => "button" %>
</div>