<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "Lista")}", proveedor_insumos_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Nuevo")}", new_proveedor_insumo_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Ver")}", proveedor_insumo_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.proveedor_insumo.nombre", :default => t("activerecord.labels.nombre", :default => "Nombre")) %>:</b>
          <%= @proveedor_insumo.nombre %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Editar")}") + " " + t("web-app-theme.edit", :default=> "Editar"), edit_proveedor_insumo_path(@proveedor_insumo), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Eliminar")}") + " " + t("web-app-theme.delete", :default => "Eliminar"), proveedor_insumo_path(@proveedor_insumo), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Esta seguro?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>