<tr>
  <td><%= reporte_mantenimiento.fecha_inicio %></td>
  <td><%= reporte_mantenimiento.fecha_fin %></td>
  <td><%= reporte_mantenimiento.tipo_mantenimiento.nombre %></td>
  <td><%= reporte_mantenimiento.evaluacion_diagnostico %></td>
  <td><%= reporte_mantenimiento.descripcion_servicio %></td>
</tr>
