<tr>
  <td><%= reporte_mantenimiento.fecha_inicio %></td>
  <td><%= reporte_mantenimiento.fecha_fin %></td>
  <td><%= reporte_mantenimiento.tipo_mantenimiento.nombre %></td>
  <td><%= reporte_mantenimiento.descripcion_servicio %></td>
  <td><%= link_to 'Reporte', reporte_path(params[:id],reporte_mantenimiento.id) %></td>
</tr>
