<tr class="<%= cycle("odd", "even") %>">
  <td><%= reporte_mantenimiento.agenda.fecha_ejecucion %></td>
  <td><%= reporte_mantenimiento.agenda.fecha_finalizacion %></td>
  <td><%= reporte_mantenimiento.tipo_mantenimiento.nombre %></td>
  <td><%= reporte_mantenimiento.descripcion_servicio %></td>
  <td><%= link_to 'Reporte', reporte_path(params[:id],reporte_mantenimiento.agenda_id,reporte_mantenimiento.id) %></td>
</tr>
