<%= form_for :hoja_vida, :url => '' do |f| %>
	<table>
		<tr>
			<td>Proveedor:</td>
			<td><%= f.select :proveedor_id, options_for_select(Proveedor.all.collect{|p| [p.nombre, p.id]}), {:include_blank => 'Seleccionar'} %></td>
			<td>Fabricante:</td>
			<td><%= f.select :fabricante_id, options_for_select(Fabricante.all.collect{|fab| [fab.nombre, fab.id]}), {:include_blank => 'Seleccionar'} %></td>
		</tr>
		<tr>
			<td>Garant&iacute;a:</td>
			<td><%= f.text_field :garantia %></td>
			<td>Manual Operaci&oacute;n:</td>
			<td><%= f.text_field :manual_operacion %></td>
		</tr>
	</table>
	<table>
		<tr>
			<td>Voltaje</td>
			<td>Amperaje</td>
			<td>Potencia</td>
			<td>Frecuencia</td>
		</tr>
	</table>
<% end %>