<%= link_to 'Regresar al listado de equipos', equipos_path, :class => "sexybutton sexysimple sexyblue" %>
<br /><br />
<div class="block">
  <div class="secondary-navigation">
  </div>
  <div class="content">
    <h2 class="title">Hoja de vida del equipo</h2>
    <div class="inner form equipo">
      <div class="group wat-cf">
        <div class="left"><label class = "label">Área</label></div>
        <div class="right"><%= @equipo.area.nombre %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Tipo</label></div>
        <div class="right"><%= @equipo.tipo_equipo.nombre %></div>
      </div>
      <div class="group wat-cf">
	<div class="left"><label class = "label">Subtipo</label></div>
	<div class="right"><%= @equipo.subtipo_equipo.nombre %></div>
      </div>
      <div class="group wat-cf">
	<div class="left"><label class = "label">Modelo</label></div>
	<div class="right"><%= @equipo.modelo %></div>
      </div>
      <div class="group wat-cf">
	<div class="left"><label class = "label">Marca</label></div>
	<div class="right"><%= @equipo.marca %></div>
      </div>
      <div class="group wat-cf">
	<div class="left"><label class = "label">No. Serial</label></div>
	<div class="right"><%= @equipo.serial %></div>
      </div>
      <div class="group wat-cf">
	<div class="left"><label class = "label">No. Inventario o Placa</label></div>
	<div class="right"><%= @equipo.placa %></div>
      </div>
      <div class="group wat-cf">
	<div class="left"><label class = "label">Tipo de tenencia o adquisición</label></div>
	<div class="right"><%= @equipo.tipo_adquisicion.nombre %></div>
      </div>
      <div class="group wat-cf">
	<div class="left"><label class = "label">Valor</label></div>
	<div class="right"><%= @equipo.valor %></div>
      </div>
      <div class="group wat-cf">
	<div class="left"><label class = "label">Responsable</label></div>
	<div class="right"><%= @equipo.responsable.nombre %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Fecha de Compra</label></div>
        <div class="right"><%= @equipo.hoja_vida.fecha_compra %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Fecha de Instalación</label></div>
        <div class="right"><%= @equipo.hoja_vida.fecha_instalacion %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Fabricante</label></div>
        <div class="right"><%= @equipo.hoja_vida.fabricante.nombre %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Proveedor</label></div>
        <div class="right"><%= @equipo.hoja_vida.proveedor.nombre %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Garantia</label></div>
        <div class="right">Inició el <%= @equipo.hoja_vida.fecha_instalacion %> y finaliza el <%= @equipo.hoja_vida.garantia %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Manual de Operación</label></div>
        <div class="right"><% if @equipo.hoja_vida.manual_operacion then %> SI <% else %> NO <% end %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Voltaje</label></div>
        <div class="right"><%= @equipo.hoja_vida.voltaje %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Amperaje</label></div>
        <div class="right"><%= @equipo.hoja_vida.amperaje %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Potencia</label></div>
        <div class="right"><%= @equipo.hoja_vida.potencia %></div>
      </div>
      <div class="group wat-cf">
        <div class="left"><label class = "label">Frecuencia</label></div>
        <div class="right"><%= @equipo.hoja_vida.frecuencia %></div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="secondary-navigation">
  </div>
  <div class="content">
    <h2 class="title">Comparativos</h2>
    <div class="inner form">
      <br/>
      <div class="group wat-cf">
        <div class="left">
          <label class="label">Seleccione el tipo de mantenimiento:</label>
        </div>
        <div class="right">
          <%= select_tag :year, options_for_select((Date.today.year..(Date.today.year + 10)).to_a, params[:anio]) %>
          <%= select_tag :tipos_mantenimiento, options_for_select(@tipos.collect{|tipom| [tipom.nombre, tipom.id]}, @tipo) %>
          <input type="button" value="Mostrar" id="mostrar-comparativo" />
        </div>
      </div>
      <br/>
      <input type="hidden" value="<%= params[:id]%>" id="equipo" />
      <div id="mantenimientos">
	<%= render :partial => '/hoja_vida/mantenimiento', :locals => {:equipo => @equipo, :year => params[:anio], :tipo => @tipo, :tipos => @tipos} %>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="secondary-navigation">
  </div>
  <div class="content">
    <h2 class="title">Reportes de mantenimientos</h2>
    <div class="inner">
      <div class="reportes">
        <h4 class="title filter-head sexybutton sexysimple sexyblue">Busqueda por Fechas</h4>
        <div class="form filter">
          <div class="forms">
            <br />
            <div class="group wat-cf">
	      <div class="left">
		<label class = "label">Fecha de Inicio</label>
	      </div>
	      <div class="right">
		<%= text_field_tag 'min_date', nil, :class => 'datepicker' %>
	      </div>
	    </div>
	    <div class="group wat-cf">
	      <div class="left">
		<label class = "label">Fecha de Finalización</label>
	      </div>
	      <div class="right">
		<%= text_field_tag 'max_date', nil, :class => 'datepicker' %>
	      </div>
	    </div>
          </div>
        </div>
        <br /><br />
        <table class="table">
          <tr>
            <th class="first"></th>
            <th>Fecha de mantenimiento</th>
            <th>Tipo de mantenimiento</th>
            <th>Evaluación</th>
            <th>Descripción</th>
            <th class="last">Ver detalle</th>
          </tr>
	  <% @equipo.reporte_mantenimientos.each do |reporte_mantenimiento| %>
	    <%= render :partial => 'hoja_vida/reportes', :locals => {:reporte_mantenimiento => reporte_mantenimiento} %>
	  <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'layouts/sidebar') -%>
