<div class="equipo">
  <table border="1">
    <tr>
      <td>Tipo</td>
      <td><%= @equipo.tipo_equipo.nombre %></td>
    </tr>
    <tr>
      <td>Subtipo</td>
      <td><%= @equipo.subtipo_equipo.nombre %></td>
    </tr>
    <tr>
      <td>Modelo</td>
      <td><%= @equipo.modelo %></td>
    </tr>
    <tr>
      <td>Marca</td>
      <td><%= @equipo.marca %></td>
    </tr>
    <tr>
      <td>No. serial</td>
      <td><%= @equipo.serial %></td>
    </tr>
    <tr>
      <td>No. Inventario o Placa</td>
      <td><%= @equipo.placa %></td>
    </tr>
    <tr>
      <td>Tipo de tenencia o adquisición</td>
      <td><%= @equipo.tipo_adquisicion.nombre %></td>
    </tr>
    <tr>
      <td>Valor</td>
      <td><%= @equipo.valor %></td>
    </tr>
    <tr>
      <td>Responsable</td>
      <td><%= @equipo.responsable.nombre %></td>
    </tr>
  </table>
</div>
<div class="datasheet">
  <h2>Hoja de Vida del equipo</h2>
  <table border="1">
    <tr>
      <td>Fecha de compra</td>
      <td><%= @equipo.hoja_vida.fecha_compra %></td>
    </tr>
    <tr>
      <td>Fecha de instalación</td>
      <td><%= @equipo.hoja_vida.fecha_instalacion %></td>
    </tr>
    <tr>
      <td>Fabricante</td>
      <td><%= @equipo.hoja_vida.fabricante.nombre %></td>
    </tr>
    <tr>
      <td>Proveedor</td>
      <td><%= @equipo.hoja_vida.proveedor.nombre %></td>
    </tr>
    <tr>
      <td>Garantía</td>
      <td><%= @equipo.hoja_vida.garantia %></td>
    </tr>
    <tr>
      <td>Manual de Operación</td>
      <td><% if @equipo.hoja_vida.manual_operacion then %> SI <% else %> NO <% end %></td>
    </tr>
    <tr>
      <td>Voltaje</td>
      <td><%= @equipo.hoja_vida.voltaje %></td>
    </tr>
    <tr>
      <td>Amperaje</td>
      <td><%= @equipo.hoja_vida.amperaje %></td>
    </tr>
    <tr>
      <td>Potencia</td>
      <td><%= @equipo.hoja_vida.potencia %></td>
    </tr>
    <tr>
      <td>Frecuencia</td>
      <td><%= @equipo.hoja_vida.frecuencia %></td>
    </tr>
  </table>
</div>
<div class="reportes">
	<h2>Reportes</h2>
	<p>Búsqueda por fechas</p>
	<p>
	  <label>Fecha mínima</label>
		<%= text_field_tag 'min_date', nil, :class => 'datepicker' %>
	</p>
	<p>
	  <label>Fecha máxima</label>
	  <%= text_field_tag 'max_date', nil, :class => 'datepicker' %>
	</p>
        <p>
          <%= link_to 'Ingresar reporte', reportes_new_path(@equipo.id) %>
        </p>
	<table border="1">
	  <tr>
	    <td>Fecha de inicio</td>
	    <td>Fecha de finalización</td>
	    <td>Tipo de mantenimiento</td>
	    <td>Evaluación</td>
	    <td>Descripción</td>
	  </tr>
          <% @equipo.reporte_mantenimientos.each do |reporte_mantenimiento| %>
          <%= render :partial => 'hoja_vida/reportes', :locals => {:reporte_mantenimiento => reporte_mantenimiento} %>
          <% end %>
	</table>
</div>