<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", tipos_insumo_pruebas_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_tipos_insumo_prueba_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", tipos_insumo_prueba_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.tipos_insumo_prueba.prueba_id", :default => t("activerecord.labels.prueba_id", :default => "Prueba")) %>:</b>
          <%= @tipos_insumo_prueba.prueba_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tipos_insumo_prueba.tipo_insumo_id", :default => t("activerecord.labels.tipo_insumo_id", :default => "Tipo insumo")) %>:</b>
          <%= @tipos_insumo_prueba.tipo_insumo_id %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_tipos_insumo_prueba_path(@tipos_insumo_prueba), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), tipos_insumo_prueba_path(@tipos_insumo_prueba), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>