<div class="block notice">
  <h3><strong>Usuario: </strong><%= current_user.login %> &nbsp;&nbsp;&nbsp;&nbsp; <%= Time.now.strftime("%d/%m/%Y") %> - <%= Time.now.strftime("%H:%M:%S") %></h3>
  <div class="content">
    <p><strong><%= link_to "Administrar Usuarios", users_path %></strong></p>
  </div>
</div>
<div class="block">
  <h3>Administración de Equipos</h3>
  <ul class="navigation">
    <li><%= link_to "Ver Equipos", list_equipos_path  %></li>
    <li><%= link_to "Tipos de Mantenimiento", tipo_mantenimientos_path  %></li>
  </ul>
</div>
<div class="block">
  <h3>Administración de Insumos</h3>
  <ul class="navigation">
    <li><%= link_to "Tipos de Insumos", tipo_insumos_path  %></li>
    <li><%= link_to "Fabricantes de Insumos", fabricante_insumos_path  %></li>
    <li><%= link_to "Proveedores de Insumos", proveedor_insumos_path  %></li>
    <li><%= link_to "Pruebas a Insumos", pruebas_path  %></li>
    <li><%= link_to "Almacenamiento de Insumos", almacenamientos_path  %></li>
    <li><%= link_to "Movimientos de Entrada de Insumos", movimiento_insumos_entrada_path  %></li>
    <li><%= link_to "Movimientos de Salida de Insumos", movimiento_insumos_salida_path  %></li>
    <li>&nbsp;</li>
    <li><%= link_to "Areas", areas_path  %></li>
    <li><%= link_to "Subtipos de Equipos", subtipo_equipos_path  %></li>
    <li><%= link_to "Fabricantes", fabricantes_path  %></li>
  </ul>
</div>