<!DOCTYPE html>
<html>
<head>
  <title>LABORATORIO DE SALUD PUBLICA</title>
  <%= stylesheet_link_tag "style", "/sexybuttons/sexybuttons.css", "web-app-theme/base", "web-app-theme/themes/djime-cerulean/style", "web-app-theme/override" %>
  <%#= javascript_include_tag :defaults, :cache => true %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.5.custom.min" %>
	<%= javascript_include_tag "jquery.validate" %>
	<%= javascript_include_tag "jquery.example.min" %>
  <%= javascript_include_tag "colorpicker" %>
  <%= javascript_include_tag "jquery.url" %>
  <%= javascript_include_tag "facebox" %>
  <%= javascript_include_tag "rails"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">LABORATORIO DE SALUD PUBLICA</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <li class="first active"><%= link_to "Inicio", :login %></li>
          <% if logged_in? %>
            <li><%= link_to "Equipos", equipos_path %></li>
            <li><%= link_to "Agenda General", agenda_general_path %></li>
            <li><a href="#block-login">Insumos</a></li>
            <li><%= link_to "Cerrar Sesión", :logout %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>LABORATORIO DE SALUD PUBLICA - <%= Time.now.year %></p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>