<!DOCTYPE html>
<html>
<head>
  <title>Salud</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-latest.js" %>
	<%= javascript_include_tag "http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.bgiframe.min.js" %>
	<%= javascript_include_tag "http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js" %>
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
